<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTS Rehan Maulana</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <style>
    .swiper {
  width: 1000px;
  height: 500px;
}
  </style>
</head>
<body>
    <ul class="nav justify-content-center bg-dark sticky-lg-top">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tentang">Tentang</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tambahbuku">Tambah Buku</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tambah">Tambah Peminjam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Tbuku">Tabel Buku</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Tpeminjam">Tabel Peminjam</a>
          </li>
      </ul>
      <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
      <script src="../static/js/swiper.js"></script>
      
     

      {% block header %}
      {% endblock %}

      {% block tabel %}
      {% endblock %}

      {% block edit %}
      {% endblock %}
      {% block edittabel %}
      {% endblock %}

      {% block tabelbarang %}
      {% endblock %}

      {% block add%}
      {% endblock %}

      {% block addtbl %}
      {% endblock %}



      {% block tentang %}
      {% endblock %}
      
     </body>
</html>